<!-- Main component for a primary marketing message or call to action -->
<div class="homeContainer">

	<header>
		<h1>
			Scribal <span>Note keeping, Bookmarking, Questions and Answers</span>
		</h1>
		<nav class="codrops-demos">
			<div class="input-group" style="width: 50%; margin-left: 23%;">
				<input type="text" class="form-control" ng-model="searchText" id="searchText" placeholder="Question search...">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" ng-click="search()">Go!</button>
				</span>
			</div>
		</nav>
	</header>


	<div class="container marketing">
		<!-- START THE FEATURETTES -->

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">
					The Efficient and easy-to-use Text-editor. <span class="text-muted">You
						will never use notebooks again.</span>
				</h2>
				<p class="lead">The notebook editor provided gives the
					flexibility to write anything and save it immedeately.It is
					designed to be as simple as possible. This notepad will help you
					record everything in the class and help you memorize little things
					in life.</p>
			</div>
			<div class="col-md-5">
				<img class="featurette-image img-responsive center-block"
					data-src="holder.js/500x500/auto" alt="500x500"
					src="images/carousal/textPad.png" data-holder-rendered="true">
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-7 col-md-push-5">
				<h2 class="featurette-heading">
					A great repository of questions and answers.
				</h2>
				<p class="lead">The questions page has a great amount of
					questions on various courseworks. The student can ask questions by
					clicking the Ask Tab. There is also facility to bookmark and tag
					responses.</p>
			</div>
			<div class="col-md-5 col-md-pull-7">
				<img class="featurette-image img-responsive center-block"
					data-src="holder.js/500x500/auto" alt="500x500"
					src="images/carousal/qna.jpg" data-holder-rendered="true">
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">
					And Lastly,the upload and bookmarking feature.
				</h2>
				<p class="lead">The most important issue for a student is to
					organize and store the data collected over the internet. This
					feature helps to acheive this goal. Using this, the student can
					embed youtube videos for later view, add bookmarks to common sites
					and upload pictures taken in lectures.</p>
			</div>
			<div class="col-md-5">
				<img class="featurette-image img-responsive center-block"
					data-src="holder.js/500x500/auto" alt="500x500"
					src="images/carousal/organize.jpg" data-holder-rendered="true">
			</div>
		</div>

		<hr class="featurette-divider">

		<!-- /END THE FEATURETTES -->

		<!-- FOOTER -->
		<footer>
			<p class="text-center">Shakti Prasad Patro © 2014 Company, Inc.</p>
		</footer>



	</div>
</div>